.card__title {
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0.05em;
  color: #1F3F68;
  width: calc(100% - 48px*2);
  padding-top: 51px;
  margin: 0;
}

@media screen and (max-width: 768px ) {
  .card__title{
    width: 100%;
  }
}