.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.25rem;
  min-height: 48px;
  width: calc(100% - 5.1875rem * 2);
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 425px ) {
  .header__menu {
    padding: 0;
    width: calc(100% - 1.25rem * 2);
  }
}