.section-title_theme_projects {
  color: #1F3F68;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

@media screen and (max-width: 768px) {
  .section-title_theme_projects  {
    -ms-grid-column: 1;
    grid-column: 1;
    font-size: 2rem;
    line-height: 2.625rem;
  }
}