.projects__card-subtitle {
  font-size: 1rem;
  line-height: 2.875rem;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.8;
  margin: 0;
  padding-top: 4px;
}

@media screen and (max-width: 768px) {
  .projects__card-subtitle {
    line-height: 1.875rem;
  }
}