@import url(./__menu/header__menu.css);
@import url(./__menu-icon/header__menu-icon.css);
@import url(./__button/header__button.css);
@import url(./__illustration/header__illustration.css);
@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);

.header {
  width: 100%;
  max-width: 1366px;
  min-height: 768px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 2.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
}