@font-face {
  src: url(./Gilroylight.woff2) format('woff2'),
  url(./Gilroylight.woff) format('woff'),
  url(./Gilroylight.ttf) format('truetype');
  font-family: 'Gilroy';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url(./Gilroyextrabold.woff2) format('woff2'),
  url(./Gilroyextrabold.woff) format('woff'),
  url(./Gilroyextrabold.ttf) format('truetype');
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
}