@import url(./_place/logo_place_header.css);
@import url(./_place/logo_place_footer.css);

.logo {
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
  background-position: center;
}