.footer__navigation-title_type_afrianska {
  font-size: 1.75rem;
  line-height: 2.875rem;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 375px) {
  .footer__navigation-title_type_afrianska {
    font-size: 1.1rem;
  }
}
