@import url(./__card/projects__card.css);
@import url(./__card-subtitle/projects__card-subtitle.css);
@import url(./__card-title/projects__card-title.css);
@import url(./__card/_theme/projects__card_theme_smart.css);
@import url(./__card/_theme/project__card_theme_sparklite.css);
@import url(./__card/_theme/project__card_theme_car.css);

.projects {
  margin: 0 auto;
  width: calc(100% - 30%);
  max-width: 940px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto repeat(2, 417px);
  grid-column-gap: 89px;
  grid-row-gap: 96px;
  padding-bottom: 192px;
  transition: all ease .5s;
}

@media screen and (max-width: 1280px) {
  .projects {
    grid-column-gap: 45px;
    grid-row-gap: 48px;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    grid-template-columns: auto;
    grid-template-rows: auto auto repeat(3, 217px);
    grid-column-gap: 0;
    grid-row-gap: 30px;
  }
}