.header__button {
  width: 220px;
  height: 56px;
  border: none;
  outline: none;
  background: #5A98D0;
  border-radius: 10px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all ease .1s;
  -o-transition: all ease .1s;
  transition: all ease .1s;
  margin-left: 15.5%;
  margin-top: 4.4375rem;
  margin-bottom: 11.875rem;
}

.header__button:hover {
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}

@media screen and (max-width: 768px ) {
  .header__button {
    margin: 0 auto;
    margin-top: 4.4375rem;
    margin-bottom: 11.875rem;
  }
}